*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:#e6f4f6; 
}

.main-heading{
  font-size: 2.9rem;
  color:rgb(17, 133, 145);
  margin-bottom: 25px;
  font-family: "Comic Neue", cursive;
  text-align: center;
}


.container{
  width:340px;
  padding:35px;
  border-radius:30px;
  background:#d4ecef; 
  box-shadow: 
    15px 15px 30px rgba(17,133,145,0.25),
    -15px -15px 30px rgba(255,255,255,0.7);
  text-align:center;
}

input{
  width:100%;
  height:55px;
  border:1px solid rgb(17, 133, 145);
  border-radius:18px;
  padding:0 15px;
  font-size:1.1rem;
  color:rgb(17, 133, 145);
  background:#d4ecef;
  margin-bottom:25px;
  outline:none;
  text-align: center;
  box-shadow: 
    inset 6px 6px 12px rgba(17,133,145,0.25),
    inset -6px -6px 12px rgba(255,255,255,0.9);
}

input::placeholder{
  color: rgba(17,133,145,0.6);
}

.button{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

button{
  width:100%;
  height:50px;
  border:none;
  border-radius:18px;
  background:rgb(17, 133, 145);
  color:white;
  font-size:1rem;
  cursor:pointer;
  font-weight:600;
  letter-spacing:1px;
  box-shadow: 0 6px 0 rgb(5, 80, 88); 
  transition: all 0.1s ease;
  font-family: "Comic Neue", cursive;
  text-shadow: 5px 8px 32px rgba(0,0,0,0.4);
}


button:hover{
  transform: translateY(-2px);
}

button:active{
  transform: translateY(4px);
  box-shadow: 0 2px 0 rgb(5, 80, 88);
}

#result{
  margin-top:25px;
  font-size:1.2rem;
  color:rgb(17, 133, 145);
  font-weight:600;
}
